#resume {
    padding: 1rem;
  }
  
  #resume a {
    color: #61dafb;
    text-decoration: none;
  }
  
  #resume a:hover {
    text-decoration: underline;
  }
  
  #resume h3 {
    margin-top: 1rem;
  }
  
  #resume ul {
    list-style-type: none;
    padding: 0;
  }
  
  #resume li {
    margin-bottom: 0.5rem;
  }
  